call plug#begin()

{% for plugin in nvim.plugins %}
    {% if plugin.info is defined %}
    " {{ plugin.info }}
    {% endif %}
    Plug '{{ plugin.plug }}'{% if plugin.args is defined %}, {{ plugin.args }}{% endif %}


{% endfor %}
call plug#end()
